
@{
    ViewData["Title"] = "Products";
}
<a href="/Default/Index/">Index</a>
<a href="/Default/Customers/">Customer</a>

<h1>Products</h1>

<h3>@ViewBag.m1</h3>
<h3>@ViewBag.m2</h3>
<h3>@ViewBag.m3</h3>


<h3>Toplam= @ViewBag.t</h3>
<h3>Diktörgen Çevre= @ViewBag.c</h3>
<h3>Faktoriyel = @ViewBag.f</h3>

<h5>@ViewBag.v</h5>